@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: cornflowerblue;
}

.navbar {
  background-color: rgb(121, 108, 247);
  height: auto;
}

.nav-item {
  font-size: 24px;
  font-weight: bold;
  margin-left: 35px;
}

.sec {
  width: 100%;
  height: 600px;
}

.carousel-inner {
  width: 100%;
  height: 600px;
}

.carousel-item active {
  width: 100vw;
}

.card-container {
  height: auto;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

.card {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 600px;
  height: auto;
  position: relative;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  padding: 20px;
  transition: all 0.3s ease-in;
}

.card-image {
  height: 150px;
  width: auto;
}

.card-title {
  padding: 20px 10px;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: bold;
}

.card-text {
  font-size: 18px;
  padding: 20px 10px;
  margin-bottom: 15px;
}

.card-button {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
  color: black;
  transition: 0.5s;
  padding: 10px 10px;
}

.card-button:hover {
  color: white;
  background-color: gray;
  letter-spacing: 0.5rem;
  text-decoration: none;
  box-shadow: 0 0 15px rgb(63, 9, 107);
  border-radius: 10px;
}

.card:hover {
  background: rgb(121, 108, 247);
  color: #fff;
  transition: 0.5s;
}

.row {
  width: 100%;
}

.titulo1 {
  margin-top: 30px;
  margin-bottom: 30px;
  color: rgb(47, 47, 90);
  font-weight: bold;
  padding: 10px 30px;
}

.imagen1 {
  margin-bottom: 15px;
  width: 100%;
}

.titulo2 {
  margin-top: 30px;
  margin-bottom: 30px;
  color: rgb(47, 47, 90);
  font-size: 40px;
  font-weight: bold;
}

.articulo2 {
  background-color: cornflowerblue;
  color: white;
  font-size: 25px;
  padding: 50px;
}

.imagen2 {
  margin-bottom: 15px;
  width: 100%;
}

.footer {
  height: auto;
  width: auto;
  background-color: rgb(121, 108, 247);
  font-size: 20px;
  padding: 20px;
  color: rgb(30, 36, 43);
}

footer i {
  font-size: 20px;
  text-align: left;
  letter-spacing: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  color: aliceblue;
  font-weight: lighter;
}

footer h3 {
  font-size: 40px;
  padding: 20px;
  text-align: left;
  font-weight: bold;
  color: aliceblue;
}

footer p {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  color: aliceblue;
  font-size: 24px;
  font-weight: bold;
}

.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.servicios h1 {
  font-size: 40px;
  color: white;
}

.especialidades {
  height: 400px;
  background-color: white;
}

.especialidades img {
  width: 120px;
  height: 120px;
  align-items: center;
}

@media screen and (max-width: 700px) {
  .sec {
    height: auto;
  }
  .carousel-inner {
    height: auto;
  }
  .row {
    flex-direction: column;
  }
  .col-sm-6 {
    display: flex;
    flex-direction: column;
    max-width: 100vh;
    margin-bottom: 10px;
  }
  footer {
    display: flex;
    flex-direction: column;
    max-height: auto;
  }
  .redes {
    flex-direction: column;
    max-height: auto;
  }
}
@media screen and (max-width: 920px) {
  .sec {
    height: auto;
  }
  .carousel-inner {
    height: auto;
  }
  .row {
    flex-direction: column;
  }
  .col-sm-6 {
    display: flex;
    flex-direction: column;
    max-width: 100vh;
    margin-bottom: 10px;
  }
  .imagen1 {
    margin-bottom: 0px;
    margin-left: 0px;
    width: auto;
  }
  .titulo2 {
    margin: 0px;
  }
  .imagen2 {
    margin-bottom: 0px;
    margin-left: 0px;
    width: auto;
  }
}/*# sourceMappingURL=estilos.css.map */