*{
    margin: 0;
    padding: 0;
}

body {
    background-color: cornflowerblue;
}

.navbar {
    background-color: rgb(121, 108, 247);
    height: 150px;
}

.sec{
    width: 100%;
    height: 600px;
}

.carousel-inner {
    width: 100%;
    height: 600px;
}

.titulo1 {
    background-color: rgb(121, 108, 247);
    color: white;

}

.titulo2 {
    background-color: rgb(121, 108, 247);
    color: white;
}

.articulo2 {
    background-color: cornflowerblue;
    color: white;
    font-size: 25px;
    padding: 50px;
}

.footer {
    height: 400px;
    background-color: rgb(121, 108, 247);
    font-size: 20px;
    padding: 20px;
    color: rgb(30, 36, 43);

}

footer i {
    font-size: 20px;
    padding: 10px;
}

footer h3 {
    font-size: 40px;
    padding: 20px;
    text-align: center;
}

footer p {
    font-size: 30px;
    padding: 10px;
    text-align: center;

}

.servicios h1{
    font-size: 40px;
    color: white;
}

.especialidades {
    height: 400px;
    background-color: white;

    
}

.especialidades img {
    width: 120px;
    height: 120px; 
    align-items: center;
}